.box-shadow {
  box-shadow: 0 0.1em 0.5em @hoopblack;
}

h1.overskrift {
  margin: 1em auto;
  text-align: center;
}

.mb {
  margin-bottom: 1rem;
}

.mb-l {
  margin-bottom: 2rem;
}


.etikett{
  background-color: @side-color-1-1;
  padding: 0.5rem;
  &:hover {
    opacity: 0.8;
  }
  .box-shadow;
  .mb;
}

.etikett:nth-child(2){
  background-color: @side-color-1-2;
}

.etikett:nth-child(3){
  background-color: @side-color-1-0;
}

.etikett:not(:last-child){
  margin-right: 1rem;
}

.link{
  color: @side-color-1-4
}

p {
  margin: 2em 0;
  padding: 1em;
  background-color: @hoopwhite;
  .box-shadow;
}
