.box-shadow {
  box-shadow: 0 0.1em 0.5em @hoopblack;
}

.center {
  text-align: center;
}

h1.overskrift {
  margin: 1em auto;
  .center
}



.mb {
  margin-bottom: 1rem;
}

.mb-l {
  margin-bottom: 2rem;
}


.etikett{
  background-color: @side-color-1-1;
  padding: 0.5rem;
  .box-shadow;
  .mb;
}

.etikett:nth-child(2){
  background-color: @side-color-1-2;
}

.etikett:nth-child(3){
  background-color: @side-color-1-0;
}

.etikett:not(:last-child){
  margin-right: 1rem;
}

.link{
  color: @side-color-1-4
}

ul {
  margin: 2rem 0;
  padding: 1rem 1rem 1rem 2rem;
  background-color: rgba(200, 200, 200, 0.7);
  .box-shadow;
}

.main-content {
}

.button {
  background:none;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.button:hover{
  text-decoration:underline;
}

.button:focus {
  outline: none;
}

.button:not(:last-child){
  margin-right: 1rem;
}