@import '../modules/menu/menu.less';
@import '../modules/trick.less';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: @hoopblack;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  overflow-x: hidden;
}

.container {
  display: block;
  max-width: 700px;
  @media(max-width: 750px){
    max-width: 750px;
  }
  margin: 0 auto;
  box-sizing: border-box;
}

.main-content {
  border-bottom: darken(@primary, 10%) 5px solid;
  border-top: darken(@primary, 10%) 5px solid;
}

footer {
  height: 70px;
  overflow: hidden;
  transition: 0.5s;
  background-color: darken(@primary,15%);
  &> div {
    background-color: @primary;
    height: 100%;
    color: fade(@hoopwhite, 70%);
    h4 {
      text-align: center;
      margin: 0 auto;
      padding: 1em;
    }
  }
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: darken(@primary, 30%);
  box-shadow: inset 0 0 6px fade(@hoopwhite, 30%);
}

::-webkit-scrollbar-thumb {
  border-top: @primary 2px solid;
  border-bottom: @primary 2px solid;
  background-color: darken(@primary, 15%);
  box-shadow: inset 0 0 6px fade(@hoopwhite, 10%);
}

/* COLORS */

@primary: darken(#72b54b, 20%);
@secondary: #398a6f;
@tertiary: #adc652;

@hoopwhite: #fff;
@hoopblack: #1a1a1a;
